html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root {
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

th {
    font-weight: 800;
    background: lightgray;
}

.table-wrapper {
    max-width: 80%;
    margin: auto;
}

.paginate-list>li {
    display: inline;
    padding: 8px;
}

.footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}