html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root {
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 6px;
}

th {
    font-weight: 800;
    background: #dddddd;
    cursor: pointer;
}

.table-wrapper {
    max-width: 75%;
    margin: auto;
}

.paginate-list>li {
    display: inline;
    padding: 8px;
    cursor: pointer;
}

.paginate-list>.active {
    background: #dddddd;
}

.footer,
.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header-wrapper {
    text-align: center;
}

.filters>li {
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-title {
    font-size: .6em;
}

.search {
    margin-bottom: 8px;
}